.button {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.3rem;
    text-decoration: none;
    
    &:hover {
        color: orange;
        border: 1px solid orange;
    }
}